In [1]:
import pandas as pd

In [9]:
path = 'data/train.csv'
df = pd.read_csv(path)
df.head()

        id_code  diagnosis
0  000c1434d8d7          2
1  001639a390f0          4
2  0024cdab0c1e          1
3  002c21358ce6          0
4  005b95c28852          0

In [11]:
df.loc[df['diagnosis'] == 4, 'diagnosis'] = 3
df

           id_code  diagnosis
0     000c1434d8d7          2
1     001639a390f0          3
2     0024cdab0c1e          1
3     002c21358ce6          0
4     005b95c28852          0
5     0083ee8054ee          3
6     0097f532ac9f          0
7     00a8624548a9          2
8     00b74780d31d          2
9     00cb6555d108          1
10    00cc2b75cddd          0
11    00e4ddff966a          2
12    00f6c1be5a33          0
13    0104b032c141          3
14    0124dffecf29          1
15    0125fbd2e791          0
16    012a242ac6ff          2
17    014508ccb9cb          0
18    0151781fe50b          0
19    0161338f53cc          2
20    0180bfa26c0b          2
21    0182152c50de          0
22    01b3aed3ed4c          1
23    01c7808d901d          2
24    01d9477b1171          0
25    01eb826f6467          2
26    01f7bb8be950          0
27    0212dd31f623          0
28    022f820027b8          0
29    0231642cf1c2          0
...            ...        ...
3632  fe06dad6851c          0
3633  fe0e2dee1834          0
3634  fe0fc67c7980          3
3635  fe2df69676cf          1
3636  fe37f4492920          2
3637  fe3b0e50be78          0
3638  fe3f62695b2d          0
3639  fe674c2f73f5          1
3640  fea14b3d44b0          1
3641  febfb20dc311          0
3642  fecf4c5ae84b          1
3643  fed5bb685832          0
3644  fefded6bf135          0
3645  ff03f74667df          0
3646  ff0740cb484a          2
3647  ff1e940105f9          0
3648  ff344e5c9341          2
3649  ff4832d55461          0
3650  ff4955e76894          0
3651  ff4cd992667b          0
3652  ff52392372d3          2
3653  ff59d44a70a7          0
3654  ff631653374e          0
3655  ff77e8e5b5f3          2
3656  ff8a0b45c789          3
3657  ffa47f6a7bf4          2
3658  ffc04fed30e6          0
3659  ffcf7b45f213          2
3660  ffd97f8cd5aa          0
3661  ffec9a18a3ce          2

[3662 rows x 2 columns]

In [12]:
df.to_csv ('data/train_4category.csv', index = None, header=True)

In [13]:
df1 = pd.read_csv('data/train_4category.csv')
df1.head()

        id_code  diagnosis
0  000c1434d8d7          2
1  001639a390f0          3
2  0024cdab0c1e          1
3  002c21358ce6          0
4  005b95c28852          0

In [29]:
df.loc[df['diagnosis'] == 2].count()

id_code      999
diagnosis    999
dtype: int64

In [25]:
path = 'data/train.csv'
df1 = pd.read_csv(path)

df1.loc[df1['diagnosis'] == 3].count()

id_code      193
diagnosis    193
dtype: int64

In [26]:
df1.loc[df1['diagnosis'] == 4].count()

id_code      295
diagnosis    295
dtype: int64

In [32]:
df1.describe(include='all')

             id_code    diagnosis
count           3662  3662.000000
unique          3662          NaN
top     874f8c1929f6          NaN
freq               1          NaN
mean             NaN     1.126980
std              NaN     1.298409
min              NaN     0.000000
25%              NaN     0.000000
50%              NaN     1.000000
75%              NaN     2.000000
max              NaN     4.000000